@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap');

*{
    background-color: rgb(15, 15, 15);
}
.h1{
    background-color: brown;
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
.gallery img{
    max-width: 400px;
    max-height: 100%;

}
.gallery{
    display: grid;
    justify-items:center;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    grid-auto-rows: minmax(150px,auto);
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-family:  'Open Sans', sans-serif;
}
footer{
    padding: 10px;
    background-color: darkblue;
    text-align: center;
    font-family:  'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    
}
